.card_title {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

.card-header {
    font-family: 'Open Sans', sans-serif;
}

.manager_pagination {
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
    bottom: 1vh;
}

.tareas {
    margin: 5px;
}

.agenda {
    background-color: white;
}

.notebook {}

.agenda_pag {
    border-style: dashed;
    border-color: white;
    border-width: 5px;
    padding: 0px;
    padding-top: 10px;
    margin-top: 0px;
    margin-top: 0px;
}